* {
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 16px;
}

body {
    margin: 0;
}

h1 {
    font-size: 2.5rem;
}

/* Main Menu */
.backgroundMainMenu {
    display: flex; /*flex*/
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgba(92, 45, 213, 1);
}

.containerMainMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    background-color: rgba(121, 69, 255, 1);
    padding: 4rem;
    border-radius: 2rem;
    border: 0.15rem solid;
    box-shadow: 0rem 0.5rem;
}

.logo {
    width: 3rem;
    margin-bottom: 4rem;
    transition: transform 0.3s ease;
}

.logo:hover {
    transform: rotate(15deg);
}

.button-long {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    width: 100%;
    border-radius: 1rem;
    box-shadow: 0rem 0.5rem;
    border: 0.15rem solid;
    background-color: rgba(255, 255, 255, 1);
    margin-bottom: 1rem;
}

.button-long:hover {
    box-shadow: 0rem 0.5rem rgba(92, 45, 213, 1);
    border: 0.15rem solid rgba(92, 45, 213, 1);
    cursor: pointer;
}

.button-pvsp {
    background-color: rgba(255, 206, 103, 1);
}

.button-pvsp img {
    width: 3.5rem;
}

@media screen and (max-width: 1161px) {
    .containerMainMenu {
        width: 40%;
    }
}

@media screen and (max-width: 871px) {
    .containerMainMenu {
        width: 50%;
    }
}

@media screen and (max-width: 694px) {
    .containerMainMenu {
        width: 65%;
    }
}

@media screen and (max-width: 536px) {
    .containerMainMenu {
        width: 85%;
    }
}

@media screen and (max-width: 410px) {
    
    .containerMainMenu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        background-color: rgba(92, 45, 213, 1);
        padding: 0rem;
        border-radius: none;
        border: none;
        box-shadow: none;
    }

    .button-pvsp {
        width: 90%;
    }

    .button-rules {
        width: 80%;
    }
}

/* Rules --------------------------------*/
.backgroundRules {
    display: none; /*flex*/
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgba(121, 69, 255, 1);
}

.containerRules {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35%;
    background-color: rgba(255, 255, 255, 1);
    padding: 1rem 1rem 0 1rem;
    border-radius: 2rem;
    border: 0.15rem solid;
    box-shadow: 0rem 0.5rem;
}

.containerRules h1 {
    align-self: center;
    margin: 0 0 1rem 0;
}

.containerRules h3 {
    color: rgba(121, 69, 255, 1);
    margin: 0.2rem 0;
}

ol.rulesList {
    display: grid;
    grid-template-columns: 1fr 20fr;
    gap: 0.7rem;
    list-style-type: none; 
    padding-left: 0;
    margin-bottom: 0;
}

.rulesList span {
    font-weight: bold;
}

.button-check {
    width: 4rem;
    align-self: center;
    position: relative;
    top: 2.3rem;
}

.button-check:hover {
    cursor: pointer;
}

.button-check:hover svg #Oval-Copy-37,
.button-check:hover svg #Oval-Copy-38 {
    fill: rgba(92, 45, 213, 1);
}

@media screen and (max-width: 1161px) {
    .containerRules {
        width: 45%;
    }
}

@media screen and (max-width: 871px) {
    .containerRules {
        width: 55%;
    }
}

@media screen and (max-width: 694px) {
    .containerRules {
        width: 65%;
    }
}

@media screen and (max-width: 536px) {
    .containerRules {
        width: 75%;
    }
}

@media screen and (max-width: 410px) {
    .containerRules {
        width: 95%;
    }
}

/* Menu Start -------------------------------- */
.backgroundIngameMenu {
    display: none; /*flex*/
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.containerIngameMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    background-color: rgba(121, 69, 255, 1);
    padding: 2rem;
    border-radius: 2rem;
    border: 0.15rem solid;
    box-shadow: 0rem 0.5rem;
}

.containerIngameMenu h1 {
    color: white;
    margin-bottom: 2.5rem;
}

.button-continue,
.button-restart,
.button-quit {
    justify-content: center;
}

.button-quit {
    background-color: rgba(253, 102, 135, 1);
}

.button-quit h2 {
    color: rgba(255, 255, 255, 1);
}


@media screen and (max-width: 1161px) {
    .containerIngameMenu {
        width: 40%;
    }
}

@media screen and (max-width: 871px) {
    .containerIngameMenu {
        width: 50%;
    }
}

@media screen and (max-width: 694px) {
    .containerIngameMenu {
        width: 65%;
    }
}

@media screen and (max-width: 536px) {
    .containerIngameMenu {
        width: 85%;
    }
}

@media screen and (max-width: 410px) {
    
    .containerIngameMenu {
        width: 95%;
        padding: 0.5rem;
    }

    .button-pvsp {
        width: 90%;
    }

    .button-rules {
        width: 90%;
    }
}
/* Game Board Start -------------------------------- */
.backgroundGameBoardStart1 {
    display: flex; /*flex*/
    align-items: start;
    justify-content: center;
    height: 100vh;
    background-color: rgba(121, 69, 255, 1);
}

.backgroundGameBoardStart2 {
    display: block;
    background-color: rgba(92, 45, 213, 1);
    width: 100%;
    height: 20%;
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
    z-index: 2;
    position: absolute;
    bottom: 0;
}

.containerGameBoardStart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 5;
    padding-top: 2rem;
}

.containerIngameMenu2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 50vw;
}

.button-ingame {
    background-color: rgba(92, 45, 213, 1);
    color: rgba(255, 255, 255, 1);
    border: none;
    width: 30%;
    height: 50%;
    border-radius: 2rem;
    font-size: 0.7rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    cursor: pointer;
}

.button-ingame:hover {
    background-color: rgba(253, 102, 135, 1);
}

.logoIngame {
    width: 2.5rem;
}

.containerGameBoard {
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerMarkerBoardTime {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 0 0 0;
    width: 57%;
}

.marker {
    width: 1.5rem;
    padding-bottom: 0.1rem;
}

.marker-red {
    margin-left: 38%;
    display: flex;
}

.marker-yellow {
    display: none;
}

.boards {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 87%;
}

.boardBlack {
    width: 100%;
    z-index: 3;
}

.boardWhite {
    display: flex;
    width: 100%;
    z-index: 4;
    margin-left: -100%;
    margin-bottom: 1%;
}

.timeTurn {
    margin-top: -4rem;
    width: 25%;
    z-index: 5;
}

.timeTurn text {
    fill: white;
}

.containerPlayerOne,
.containerPlayerTwo {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 1);
    align-items: center;
    justify-content: center;
    width: 12%;
    border: 0.1rem solid;
    border-radius: 1rem;
    box-shadow: 0rem 0.25rem;
    padding: 0 0 1rem 0;
    margin-bottom: 3rem;
}

.containerPlayerOne h2,
.containerPlayerTwo h2 {
    margin: 0;
    font-size: 3rem;
}

.containerPlayerOne h3,
.containerPlayerTwo h3 {
    margin: 0;
    font-size: 1rem;
}

img.player-one,
img.player-two {
    width: 2rem;
    position: relative;
    bottom: 1rem;
}

@media screen and (max-width: 1300px) {

    .containerGameBoardStart {
        padding-top: 5rem;
    }
    
    .timeTurn {
        margin-top: -3rem;
    }
}

@media screen and (max-width: 1200px) {

    .boards {
        width: 95%;
    }

    .containerGameBoard{
        width: 100%;
    }   
    
    .timeTurn {
        margin-top: -3rem;
    }
}

@media screen and (max-width: 1100px) {

    .containerGameBoardStart {
        padding-top: 7rem;
    }

    .containerIngameMenu2 {
        width: 55vw;
    }

    .boards {
        width: 100%;
    }
    
    .timeTurn {
        margin-top: -3.5rem;
    }

    .containerPlayerOne,
    .containerPlayerTwo {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

@media screen and (max-width: 982px) {

    * {
        font-size: 18px;
    }

    .backgroundGameBoardStart1 {
        display: none; /*flex*/
        align-items: center;
    }

    .containerGameBoardStart {
        padding-top: 0rem;
    }

    .timeTurn {
        margin-top: -2rem;
        width: 30%;
    }
}

@media screen and (max-width: 769px) {

    .backgroundGameBoardStart2{
        height: ;
    }

    .containerGameBoard {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-content: center;
        place-items: center;
    }

    .containerMarkerBoardTime{
        order: 3;
        grid-column: span 2;
        width: 80%;
    }

    .timeTurn {
        margin-top: -3rem;
        width: 27%;

    }

    .containerPlayerOne {
        order: 0;
    }


    .containerPlayerTwo {
        order: 1;
    }

    .containerPlayerOne,
    .containerPlayerTwo {
        display: flex;
        flex-direction: row;
        background-color: rgba(255, 255, 255, 1);
        align-items: center;
        justify-content: center;
        width: 60%;
        border: 0.1rem solid;
        border-radius: 1rem;
        box-shadow: 0rem 0.25rem;
        padding: 0.2rem 0.5rem;
        margin-bottom: 0rem;
    }

    .containerPlayerOne h3 {
        margin-right: 2.5rem;
        margin-left: -2rem;
    }

    .containerPlayerTwo h3 {
        order: 1;
        margin-left: 2.5rem;
        margin-right: -2rem;
    }

    img.player-one {
        position: relative;
        top: 0rem;
        right: 3rem;
    }

    img.player-two {
        order: 3;
        position: relative;
        top: 0rem;
        left: 3rem;
}
}