* {
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 16px;
}

body {
    margin: 0;
}

h1 {
    font-size: 2.5rem;
}

/* Main Menu */
.backgroundMainMenu {
    display: none; /*flex*/
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgba(92, 45, 213, 1);
}

.containerMainMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    background-color: rgba(121, 69, 255, 1);
    padding: 4rem;
    border-radius: 2rem;
    border: 0.15rem solid;
    box-shadow: 0rem 0.5rem;
}

.logo {
    width: 3rem;
    margin-bottom: 4rem;
    transition: transform 0.3s ease;
}

.logo:hover {
    transform: rotate(15deg);
}

.button-long {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    width: 100%;
    border-radius: 1rem;
    box-shadow: 0rem 0.5rem;
    border: 0.15rem solid;
    background-color: rgba(255, 255, 255, 1);
    margin-bottom: 1rem;
}

.button-long:hover {
    box-shadow: 0rem 0.5rem rgba(92, 45, 213, 1);
    border: 0.15rem solid rgba(92, 45, 213, 1);
    cursor: pointer;
}

.button-pvsp {
    background-color: rgba(255, 206, 103, 1);
}

.button-pvsp img {
    width: 3.5rem;
}

@media screen and (max-width: 1161px) {
    .containerMainMenu {
        width: 40%;
    }
}

@media screen and (max-width: 871px) {
    .containerMainMenu {
        width: 50%;
    }
}

@media screen and (max-width: 694px) {
    .containerMainMenu {
        width: 65%;
    }
}

@media screen and (max-width: 536px) {
    .containerMainMenu {
        width: 85%;
    }
}

@media screen and (max-width: 410px) {
    
    .containerMainMenu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        background-color: rgba(92, 45, 213, 1);
        padding: 0rem;
        border-radius: none;
        border: none;
        box-shadow: none;
    }

    .button-pvsp {
        width: 90%;
    }

    .button-rules {
        width: 80%;
    }
}

/* Rules --------------------------------*/
.backgroundRules {
    display: none; /*flex*/
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgba(121, 69, 255, 1);
}

.containerRules {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35%;
    background-color: rgba(255, 255, 255, 1);
    padding: 1rem 1rem 0 1rem;
    border-radius: 2rem;
    border: 0.15rem solid;
    box-shadow: 0rem 0.5rem;
}

.containerRules h1 {
    align-self: center;
    margin: 0 0 1rem 0;
}

.containerRules h3 {
    color: rgba(121, 69, 255, 1);
    margin: 0.2rem 0;
}

ol.rulesList {
    display: grid;
    grid-template-columns: 1fr 20fr;
    gap: 0.7rem;
    list-style-type: none; 
    padding-left: 0;
    margin-bottom: 0;
}

.rulesList span {
    font-weight: bold;
}

.button-check {
    width: 4rem;
    align-self: center;
    position: relative;
    top: 2.3rem;
}

.button-check:hover {
    cursor: pointer;
}

.button-check svg #Oval-Copy-37,
.button-check svg #Oval-Copy-38 {
    transition: fill 0.3s ease, stroke 0.3s ease;
}

.button-check:hover svg #Oval-Copy-37,
.button-check:hover svg #Oval-Copy-38 {
    fill: rgba(92, 45, 213, 1);
}

@media screen and (max-width: 1161px) {
    .containerRules {
        width: 45%;
    }
}

@media screen and (max-width: 871px) {
    .containerRules {
        width: 55%;
    }
}

@media screen and (max-width: 694px) {
    .containerRules {
        width: 65%;
    }
}

@media screen and (max-width: 536px) {
    .containerRules {
        width: 75%;
    }
}

@media screen and (max-width: 410px) {
    .containerRules {
        width: 95%;
    }
}

/* Menu Start -------------------------------- */
.backgroundIngameMenu {
    display: flex; /*flex*/
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.containerIngameMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    background-color: rgba(121, 69, 255, 1);
    padding: 2rem;
    border-radius: 2rem;
    border: 0.15rem solid;
    box-shadow: 0rem 0.5rem;
}

.containerIngameMenu h1 {
    color: white;
    margin-bottom: 2.5rem;
}

.button-continue,
.button-restart,
.button-quit {
    justify-content: center;
}

.button-quit {
    background-color: rgba(253, 102, 135, 1);
}

.button-quit h2 {
    color: rgba(255, 255, 255, 1);
}


@media screen and (max-width: 1161px) {
    .containerIngameMenu {
        width: 40%;
    }
}

@media screen and (max-width: 871px) {
    .containerIngameMenu {
        width: 50%;
    }
}

@media screen and (max-width: 694px) {
    .containerIngameMenu {
        width: 65%;
    }
}

@media screen and (max-width: 536px) {
    .containerIngameMenu {
        width: 85%;
    }
}

@media screen and (max-width: 410px) {
    
    .containerIngameMenu {
        width: 95%;
        padding: 0.5rem;
    }

    .button-pvsp {
        width: 90%;
    }

    .button-rules {
        width: 90%;
    }
}
/* Game Board Start -------------------------------- */
.backgroundGameBoardStart {
    display: none;
}